@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    color: grey;
    font: normal 100%/1.5;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

a,
a:link,
a:visited {
    outline: none;
    text-decoration: none;
}

a:focus {
    outline: 3px solid #000;
}

a:hover,
a:active {
    outline: none;
}

/* KEYBOARD USE SETTINGS starts*/

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: 0.5em 0.75em;
    background-color: #29c5cb;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

/* KEYBOARD USE SETTINGS ends*/

img {
    display: block;
    width: 100%;
}

header {
    overflow: hidden;
}

.toggle-nav {
    position: absolute;
    top: 10%;
    width: 100%;
    z-index: 3;
}

button {
    background-color: transparent;
    outline: none;
}

.toggle-btn {
    cursor: pointer;
    float: right;
    margin-right: 2em;
    background-image: url("../img/toggle.svg");
    background-size: 36px auto;
    width: 36px;
    height: 28px;
    text-indent: 3em;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}

nav {
    margin-top: 30px;
    margin-right: -35px;
    width: 250px;
    float: right;
}   

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 15px;
}

nav li {
    text-align: center;
}

nav a,
nav a:active,
nav a:link {
    outline: 0;
    display: block;
    padding: 1em;
    color: #29c5cb;
    line-height: 1em;
    text-decoration: none;
}

nav a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #29c5cb;
    border-radius: 15px;
}

.panel {
    max-height: 0;
    float: right;
    overflow: hidden;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}

.js-panel-open {
    max-height: 15em;
    float: right;
}

.container {
    position: relative;
    display: block;
    background-color: lightblue;
    height: 100%;
}

.billboard{ 
    position: relative;
    padding-top: 53%;
    background-image: url("../img/background.jpg");
    background-size: cover;
}

h1 {
    position: absolute;
    display: inline;
    top: 10%;
    left: 10%;
    z-index: 2;
    text-align: center;
    line-height: 1.1em;
    color: #000;
}

.br {
    display: block;
    padding: 0;
}

.bee1 { 
    position: absolute;
    top: 60%;
    left: 15%;
    width: 3%;
    
    -webkit-animation: bee1 5s ease-in-out infinite;
    animation: bee1 5s ease-in-out infinite;
}

@-webkit-keyframes bee1 {
    0% { -webkit-transform: translateY(0) scale(1.0,1.0); }
    20% { -webkit-transform: translateX(60px) rotate(-35deg) scale(2.05,2.05); }
    40% { -webkit-transform: translateY(50px) scale(1.05,1.05); }
    70% { -webkit-transform: translateX(50px) rotate(240deg); }
    85% { -webkit-transform: translateY(50px); }
    100% { -webkit-transform: translateY(0) scale(1.0,1.0); }
}

@keyframes bee1 {
    0% { transform: translateY(0) scale(1.0,1.0); }
    20% { transform: translateX(60px) rotate(-35deg) scale(2.05,2.05); }
    40% { transform: translateY(50px) scale(1.05,1.05); }
    70% { transform: translateX(50px) rotate(240deg); }
    85% { transform: translateY(50px); }
    100% { transform: translateY(0) scale(1.0,1.0); }
}

.bee2 {
    position: absolute;
    top: 70%;
    right: 60%;
    width: 3%;
    
    -webkit-animation: bee2 6s ease-out infinite;
    animation: bee2 6s ease-out infinite;
} 

@-webkit-keyframes bee2 {
    0% { -webkit-transform: translateY(0) scale(1.0,1.0); }
    10% { -webkit-transform: translateX(-100px); }
    30% { -webkit-transform: translateY(50px); }
    50% { -webkit-transform: translateX(-100px) rotate(120deg); }
    70% { -webkit-transform: translateX(100px); }
    100% { -webkit-transform: translateY(0); }
}
    
@keyframes bee2 {
    0% { transform: translateY(0) scale(1.0,1.0); }
    10% { transform: translateX(-100px); }
    30% { transform: translateY(50px); }
    50% { transform: translateX(-100px) rotate(120deg); }
    70% { transform: translateX(100px); }
    100% { transform: translateY(0); }
}

.bear-top {
    position: absolute;
    top: 30%;
    right: 11%;
    width: 20%;
    z-index: 1;
    
    -webkit-animation: bear 6s ease-out infinite;
    -webkit-transform-origin: center bottom;
    animation: bear 6s ease-out infinite;
    transform-origin: center bottom;
}

@-webkit-keyframes bear {
    0% { -webkit-transform: rotate(0deg); }
    50% { -webkit-transform: rotate(20deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@keyframes bear {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(20deg); }
    100% { transform: rotate(0deg); }
}

.bear-bottom {
    position: absolute;
    top: 54%;
    right: 10%;
    width: 20%;  
}

.cloud1 {
    position: absolute;
    width: 40%;
    top: 3%;
    right: 10%;
    opacity: 0.7;
    
    -webkit-animation: cloud1 200s linear infinite;
    animation: cloud1 200s linear infinite;
}

@-webkit-keyframes cloud1 {
    0% { -webkit-transform: translateX(300px); }
    100% { -webkit-transform: translateX(-1500px); }
}

@keyframes cloud1 {
    0% { transform: translateX(300px); }
    100% { transform: translateX(-1500px); }
}

.cloud2 {
    position: absolute;
    width: 40%;
    top: 3%;
    left: 15%;
    opacity: 0.7;
    
    -webkit-animation: cloud2 200s linear infinite;
    animation: cloud2 200s linear infinite;
}

@-webkit-keyframes cloud2 {
    0% { -webkit-transform: translateX(0); }
    100% { -webkit-transform: translateX(-1500px); }
}

@keyframes cloud2 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-1500px); }
}

.cloud3 {
    position: absolute;
    width: 10%;
    top: 10%;
    right: 30%;
    opacity: 0.7;
    
    -webkit-animation: cloud3 400s linear infinite;
    animation: cloud3 400s linear infinite;
}

@-webkit-keyframes cloud3 {
    0% { -webkit-transform: translateX(0); }
    100% { -webkit-transform: translateX(-1500px); }
}

@keyframes cloud3 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-1500px); }
}

.cloud4 {
    position: absolute;
    width: 10%;
    top: 15%;
    right: 45%;
    opacity: 0.7;
    
    -webkit-animation: cloud4 300s linear infinite;
    animation: cloud4 300s linear infinite;
}

@-webkit-keyframes cloud4 {
    0% { -webkit-transform: translateX(0px); }
    100% { -webkit-transform: translateX(-1500px); }
}

@keyframes cloud4 {
    0% { transform: translateX(0px); }
    100% { transform: translateX(-1500px); }
}

.cloud5 {
    position: absolute;
    width: 20%;
    top: 20%;
    right: 30%;
    opacity: 0.7;
    
    -webkit-animation: cloud5 200s linear infinite;
    animation: cloud5 200s linear infinite;
}

@keyframes cloud5 {
    0% { -webkit-transform: translateX(100px); }
    100% { -webkit-transform: translateX(-1500px); }
}

@keyframes cloud5 {
    0% { transform: translateX(100px); }
    100% { transform: translateX(-1500px); }
}

.button {
    position: absolute;
    width: 20%;
    top: 60%;
    left: calc(50% - 10%);

    opacity: .8;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.button:hover {
    opacity: 1;
}

footer {
    position: relative;
    height: 10em;
    background-color: white;
}

@media only screen and (min-width: 25em) {
    
    .peta {
        font-size: 200%;
    }
    
    .yotta {
        font-size: 200%;
    }
    
    .button {
        width: 13%;
        top: 73%;
        left: calc(50% - 6.5%);
    }
    
}

@media only screen and (min-width: 38em) {
    
    .header-wrapper {
        padding: 0 5%;
    }
    
    h1 {
        left: 7%;
    }
    
    .logo {
        text-align: left;
        margin: 0;
        padding-left: 1em;
    }
    
    nav {
        text-align: right;
    }
    
    .bee1 {
        top: 60%;  
    }
    
    .peta {
        font-size: 300%;
    }
    
    .yotta {
        font-size: 200%;
    }
    
    .button {
        width: 10%;
        top: 78%;
        left: calc(50% - 5%);
    }
    
    .toggle-nav {
        top: 5%;
    }
}

@media only screen and (min-width: 60em) {
    
    .header-wrapper {
        padding: 0 10%;
    }
    
    h1 {
        left: 12%;
    }
    
    .peta {
        font-size: 400%;
    }
    
    .yotta {
        font-size: 200%;
    }
    
    .button {
        width: 7%;
        top: 84%;
        left: calc(50% - 3.5%);
    }

}